pkgbase = arm-none-linux-gnueabihf-toolchain-bin
	pkgdesc = GNU Toolchain for the Cortex-A Family (64-bit)
	pkgver = 10.3_2021.07
	pkgrel = 1
	url = https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-a/downloads
	arch = x86_64
	license = GPL
	license = LGPL
	depends = binutils
	options = !emptydirs
	options = !strip
	options = staticlibs
	source = https://developer.arm.com/-/media/Files/downloads/gnu-a/9.2-2019.12/binrel/gcc-arm-9.2-2019.12-x86_64-aarch64-none-linux-gnu.tar.xz
	md5sums = 07bbe2b5277b75ba36a924e9136366a4

pkgname = aarch64-none-linux-gnu-toolchain-bin
